<div class="image-gallery">
    <div class="image-item">
      <div class="image-overlay">
        <h3>[Video Game Sales Exploratory Data Analysis in R](video_game_sales_exploratory_data_analysis_in_r.md)</h3>
        <p>In-depth exploration of video games from 1977 to 2016</p>
      </div>
      <img src="assets/vgsales.jpg" alt="Project 1" />
    </div>
    <div class="image-item">
      <div class="image-overlay">
        <h3>Project 2 Title</h3>
        <p>Description of Project 2.</p>
      </div>
      <img src="assets/portfoliologo_v1.png" alt="Project 2" />
    </div>
    <div class="image-item">
      <div class="image-overlay">
        <h3>Project 3 Title</h3>
        <p>Description of Project 3.</p>
      </div>
      <img src="assets/file3.jpg" alt="Project 3" />
    </div>
  </div>
  